torch==2.1.0 
torchvision==0.16.0 
torchaudio==2.1.0 
transformers==4.43.1   
peft==0.10.0

mamba-ssm 
causal_conv1d 
flash_attn 

peft
omegaconf
rich
accelerate
sentencepiece
decord
seaborn
einops
timm
wandb
jsonlines
datasets
opencv-python
imageio
deepspeed
torchviz
tensorboard

triton==3.2.0